*.iml
.gradle/
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build/
build
captures/
.externalNativeBuild
*.iws
*.ipr
.idea/
*~
*.swp
gradlew
gradlew.bat
androidTest/
test/
gradle-wrapper.jar